<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./Idle6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{706,813}</string>
    <key>spriteSourceSize</key>
    <string>{706,813}</string>
    <key>textureRect</key>
    <string>{{0,0},{706,813}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Idle7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{706,813}</string>
    <key>spriteSourceSize</key>
    <string>{706,813}</string>
    <key>textureRect</key>
    <string>{{707,0},{706,813}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Left1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{706,813}</string>
    <key>spriteSourceSize</key>
    <string>{706,813}</string>
    <key>textureRect</key>
    <string>{{0,814},{706,813}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Left2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{706,813}</string>
    <key>spriteSourceSize</key>
    <string>{706,813}</string>
    <key>textureRect</key>
    <string>{{707,814},{706,813}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{2048,2048}</string>
   <key>textureFileName</key>
   <string>wip1_2.png</string>
  </dict>
 </dict>
</plist>
